#searchSliderTum {
    margin-top: 20vw;
    height: 100vh;
    font-family: var(--font-main);
    display: grid;
    place-content: center;
}
#searchSliderTum > h2 {
    color: var(--colorB);
    font-size: var(--font-size120);
    font-weight: 100;
}
#searchSliderTum > p {
    font-family: var(--font-sub);
    color: var(--colorB);
    font-size: var(--font-size14);
    font-weight: 100;
    position: relative;
    margin-top: 0.5vw;
}
#searchSliderTum > p::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background: var(--colorB);
    left: 0;
    top: -30%;
}