@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-LightItalic.eot');
    src: url('PPEiko-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PPEiko-LightItalic.woff2') format('woff2'),
        url('PPEiko-LightItalic.woff') format('woff'),
        url('PPEiko-LightItalic.ttf') format('truetype'),
        url('PPEiko-LightItalic.svg#PPEiko-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-Heavy.eot');
    src: url('PPEiko-Heavy.eot?#iefix') format('embedded-opentype'),
        url('PPEiko-Heavy.woff2') format('woff2'),
        url('PPEiko-Heavy.woff') format('woff'),
        url('PPEiko-Heavy.ttf') format('truetype'),
        url('PPEiko-Heavy.svg#PPEiko-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-BlackItalic.eot');
    src: url('PPEiko-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('PPEiko-BlackItalic.woff2') format('woff2'),
        url('PPEiko-BlackItalic.woff') format('woff'),
        url('PPEiko-BlackItalic.ttf') format('truetype'),
        url('PPEiko-BlackItalic.svg#PPEiko-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-Medium.eot');
    src: url('PPEiko-Medium.eot?#iefix') format('embedded-opentype'),
        url('PPEiko-Medium.woff2') format('woff2'),
        url('PPEiko-Medium.woff') format('woff'),
        url('PPEiko-Medium.ttf') format('truetype'),
        url('PPEiko-Medium.svg#PPEiko-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Eiko';
    src: url('PPEiko-Thin.eot');
    src: url('PPEiko-Thin.eot?#iefix') format('embedded-opentype'),
        url('PPEiko-Thin.woff2') format('woff2'),
        url('PPEiko-Thin.woff') format('woff'),
        url('PPEiko-Thin.ttf') format('truetype'),
        url('PPEiko-Thin.svg#PPEiko-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}