#about {
    padding-top: 5vw;
    font-family: var(--font-main);
}

.about__title > div {
    color: var(--colorB);
    font-size: var(--font-size200);
    font-weight: 100;
}
.about__title > div:nth-child(1) {
    position: absolute;
    margin-left: 20%;
}
.about__title > div:nth-child(2) {
    font-size: var(--font-size180);
    font-weight: 100;
    position: absolute;
    margin-left: 35%;
    margin-top: 9.5%;
}
.about__title > div:nth-child(3) {
    position: absolute;
    margin-left: 11%;
    margin-top: 16%;
}
.about__img > img {
    width: 30%;
    object-fit: cover;
    margin-left: 60%;
    margin-top: 9%;
}

.about__desc {
    margin-left: 20%;
    bottom: 6vh;
    position: relative;
}
.about__desc::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 1px;
    background: var(--colorB);
    left: 0;
    top: -1vw;
}
.about__desc > p {
    font-family: "SCoreDream";
    font-weight: 200;
    font-size: var(--font-size14);
    color: var(--colorB);
    line-height: 1.5;
    word-spacing: 3;
}

/* gsap */
.Passion {
    overflow: hidden;
}
.Creative {
    z-index: 1;
}