#contactMe {
    height: 100vh;
    font-family: var(--font-main);
    color: var(--colorW);
    background: var(--colorB);
    display: grid;
    place-content: center;
}
#contactMe > h2 {
    font-weight: 100;
    font-size: var(--font-size60);
    text-align: center;
}
#contactMe > h1 {
    font-weight: 500;
    font-size: var(--font-size200);
    text-align: center;
}
#contactMe > h3 {
    font-weight: 100;
    font-size: var(--font-size40);
    text-align: center;
    margin-top: 50px;
}
#contactMe > p {
    font-family: var(--font-sub);
    text-align: center;
    font-weight: 400;
    font-size: var(--font-size20);
    margin-top: 2%;
}
#contactMe > div:last-child {
    font-family: var(--font-sub);
    font-size: var(--font-size14);
    text-align: center;
    margin-top: 2%;
    padding-bottom: 2%;
}
.contactMe {
    border-top: 1px solid var(--colorW);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.contactMe > div {
    font-weight: 100;
    font-size: var(--font-size60);
}
.contactMe > div:nth-child(1) {
    margin-bottom: 1vw;
}