#contactMe {
    padding-top: 285px;
    font-family: var(--font-main);
    color: var(--colorW);
    background: var(--colorB);
}
#contactMe > h2 {
    font-weight: 100;
    font-size: var(--font-size60);
    text-align: center;
}
#contactMe > h1 {
    font-weight: 500;
    font-size: var(--font-size200);
    text-align: center;
}
#contactMe > h3 {
    font-weight: 100;
    font-size: var(--font-size40);
    text-align: center;
    margin-top: 50px;
}
#contactMe > p {
    font-family: var(--font-sub);
    text-align: center;
    font-weight: 400;
    font-size: var(--font-size20);
    margin-top: 30px;
}
#contactMe > div:last-child {
    font-family: var(--font-sub);
    font-size: var(--font-size14);
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}
.contactMe {
    padding: 0 6%;
    margin-top: 86px;
}
.contactMe > h2 {
    font-family: var(--font-sub);
    font-weight: 400;
    font-size: var(--font-size40);
    border-bottom: 1px solid var(--colorW);
    padding-bottom: 10px;
}
.contact__info {
    margin-top: 20px;
}
.contact__your {
    margin-bottom: 20px;
}
.contact__your input {
    outline: none;
    border: 1px solid var(--colorW);
    background: var(--colorB);
}
.contact__your #contactName {
    border-radius: 3px;
    padding: 10px 105px 10px 20px;
    margin-right: 20px;
}
.contact__your #contactName::placeholder {
    font-size: var(--font-size16);
    color: var(--colorW);
}
.contact__your #contactName:required {
    color: var(--colorW);
    font-size: var(--font-size16);
}
.contact__your #contactMail {
    border-radius: 3px;
    padding: 10px 105px 10px 20px;
}
.contact__your #contactMail::placeholder {
    font-size: var(--font-size16);
    color: var(--colorW);
}
.contact__your #contactMail:required {
    color: var(--colorW);
    font-size: var(--font-size16);
}
.contact__mes input {
    outline: none;
    border: 1px solid var(--colorW);
    background: var(--colorB);
}
.contact__mes #contactMes {
    border-radius: 3px;
    padding: 20px 88% 160px 20px;
}
.contact__mes #contactMes::placeholder {
    font-size: var(--font-size16);
    color: var(--colorW);
}
.contact__mes #contactMes:required {
    color: var(--colorW);
    font-size: var(--font-size16);
}