#gameList {
    font-family: var(--font-main);
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.gameList__left {
    width: 14%;
    border-right: 1px solid var(--colorB);
}
.gameList__left > h2 {
    position: absolute;
    color: var(--colorB);
    font-weight: 100;
    font-size: var(--font-size40);
    transform: rotate(-90deg);
    top: 4%;
    left: 6.5%;
}

.gameList__right {
    width: 78%;
}

/* music */
.music {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 3.5%;
}
.music__desc > h2 {
    color: var(--colorB);
    font-weight: 100;
    font-size: var(--font-size40);
    margin-bottom: 0.5%;
}
.music__desc > p {
    font-family: "SCoreDream";
    color: var(--colorB);
    font-weight: 200;
    font-size: var(--font-size14);
    line-height: 1.5;
}
.music__desc > p:last-child {
    font-family: var(--font-main);
    font-size: var(--font-size16);
    font-weight: 100;
    color: var(--colorB);
    text-decoration: underline;
}
.music__desc > p:last-child span {
    margin-right: 1.5%;
}
.music__desc > p:last-child span a {
    color: var(--colorB);
}
.music__window {
    width: 52%;
    height: 40vh;
    background: var(--colorB);
    position: relative;
}
.music__window > img {
    width: 5%;
    position: absolute;
    bottom: 23%;
    right: 4%;
}
.music__window > h2 {
    color: var(--colorW);
    font-size: var(--font-size60);
    font-weight: 100;
    position: absolute;
    bottom: 0;
    right: 4%;
    bottom: 4%;
}

/* search */
.search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3.5%;
    margin-right: 3.5%;
}
.search__desc > h2 {
    color: var(--colorB);
    font-weight: 100;
    font-size: var(--font-size40);
    margin-bottom: 0.5%;
}
.search__desc > p {
    font-family: "SCoreDream";
    color: var(--colorB);
    font-weight: 200;
    font-size: var(--font-size14);
    line-height: 1.5;
}
.search__desc > p:last-child {
    font-family: var(--font-main);
    font-size: var(--font-size16);
    font-weight: 100;
    color: var(--colorB);
    text-decoration: underline;
}
.search__desc > p:last-child span {
    margin-right: 1.5%;
}
.search__desc > p:last-child span a {
    color: var(--colorB);
}
.search__window {
    width: 52%;
    height: 40vh;
    background: var(--colorB);
    position: relative;
}
.search__window > img {
    width: 25%;
    position: absolute;
    bottom: 23%;
    right: 4%;
}
.search__window > h2 {
    color: var(--colorW);
    font-size: var(--font-size60);
    font-weight: 100;
    position: absolute;
    bottom: 0;
    right: 4%;
    bottom: 4%;
}

/* card */
.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3.5%;
    margin-right: 3.5%;
}
.card__desc > h2 {
    color: var(--colorB);
    font-weight: 100;
    font-size: var(--font-size40);
    margin-bottom: 0.5%;
}
.card__desc > p {
    font-family: "SCoreDream";
    color: var(--colorB);
    font-weight: 200;
    font-size: var(--font-size14);
    line-height: 1.5;
}
.card__desc > p:last-child {
    font-family: var(--font-main);
    font-size: var(--font-size16);
    font-weight: 100;
    color: var(--colorB);
    text-decoration: underline;
}
.card__desc > p:last-child span {
    margin-right: 1.5%;
}
.card__desc > p:last-child span a {
    color: var(--colorB);
}
.card__window {
    width: 52%;
    height: 40vh;
    background: var(--colorB);
    position: relative;
}
.card__window > img {
    width: 12%;
    position: absolute;
    bottom: 23%;
    right: 4%;
}
.card__window > h2 {
    color: var(--colorW);
    font-size: var(--font-size60);
    font-weight: 100;
    position: absolute;
    bottom: 0;
    right: 4%;
    bottom: 4%;
}

/* tetris */
.tetris {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3.5%;
    margin-right: 3.5%;
}
.tetris__desc > h2 {
    color: var(--colorB);
    font-weight: 100;
    font-size: var(--font-size40);
}
.tetris__desc > p {
    font-family: "SCoreDream";
    color: var(--colorB);
    font-weight: 200;
    font-size: var(--font-size14);
    line-height: 1.5;
}
.tetris__desc > p:last-child {
    font-family: var(--font-main);
    font-size: var(--font-size16);
    font-weight: 100;
    color: var(--colorB);
    text-decoration: underline;
}
.tetris__desc > p:last-child span {
    margin-right: 0.5%;
}
.tetris__desc > p:last-child span a {
    color: var(--colorB);
}
.tetris__window {
    width: 52%;
    height: 40vh;
    background: var(--colorB);
    position: relative;
}
.tetris__window > img {
    width: 10%;
    position: absolute;
    bottom: 23%;
    right: 4%;
}
.tetris__window > h2 {
    color: var(--colorW);
    font-size: var(--font-size60);
    font-weight: 100;
    position: absolute;
    bottom: 0;
    right: 4%;
    bottom: 4%;
}