#gameTum {
    margin-top: 15%;
    position: relative;
}
#gameTum > h2 {
    position: absolute;
    font-family: var(--font-main);
    color: var(--colorB);
    font-weight: 500;
    font-size: var(--font-size120);
    left: 10%;
    bottom: -14.5%;
    mix-blend-mode: difference;
}
.gameImg {
    margin-left: 6%;
}
.gameImg > img {
    width: 83%;
}