#gameMouseTum {
    font-family: var(--font-main);
    width: 100%;
    height: 100vh;
    margin-top: 15%;
    border-top: 1px solid var(--colorB);
    border-bottom: 1px solid var(--colorB);
    display: flex;
}
.gameMouseTum__left {
    width: 50%;
}
.gameMouseTum__left > h2 {
    color: var(--colorB);
    font-size: var(--font-size120);
    font-weight: 100;
    padding-top: 6%;
    padding-left: 6%;
}
.gameMouseTum__list {
    display: flex;
    justify-content: flex-end;
    align-self:flex-end;
}
.gameMouseTum__left > p {
    font-family: var(--font-sub);
    font-weight: 100;
    margin-top: 2%;
    font-size: var(--font-size14);
    padding-left: 6%;
}
.gameMouseTum__right {
    width: 50%;
    align-self: flex-end;
}
.gameMouseTum__list {
    height: 50vh;
}
.gameMouseTum__list__one {
    border-left: 1px solid var(--colorB);
    padding-left: 2%;
    margin-right: 13%;
}
.gameMouseTum__list__one > h2 {
    color: var(--colorB);
    font-size: var(--font-size20);
}
.gameMouseTum__list__one > img {
    margin-top: 5%;
    width: 120%;
}
.gameMouseTum__list__two {
    border-left: 1px solid var(--colorB);
    padding-left: 2%;
    margin-right: 15%;
    position: relative;
}
.gameMouseTum__list__two > h2 {
    color: var(--colorB);
    font-size: var(--font-size20);
}
.gameMouseTum__list__two > img {
    width: 120%;
    margin-top: 2%;
}
.gameMouseTum__list__two > img:last-child {
    width: 8%;
    position: absolute;
    right: 20%;
    top: 20%;
}