#mouse {
    font-family: var(--font-main);
    margin-top: 15%;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.mouse__left {
    width: 43%;
}
.mouse__right {
    width: 57%;
}
.mouse__desc {
    margin-left: 6.2%;
}
.mouse__desc > h2 {
    font-weight: 100;
    font-size: var(--font-size40);
    color: var(--colorB);
    margin-bottom: 1.5%;
}
.mouse__desc > p {
    font-family: var(--font-kor);
    font-weight: 200;
    font-size: var(--font-size14);
    line-height: 1.5;
}
.mouse__desc > p:last-child {
    font-family: var(--font-main);
    font-size: var(--font-size16);
    font-weight: 100;
    color: var(--colorB);
    text-decoration: underline;
}
.mouse__desc > p:last-child span {
    margin-right: 1.5%;
}
.mouse__desc > p:last-child span a {
    color: var(--colorB);
}
.mouse__right > img:nth-child(1) {
    width: 90%;
}
.mouse__right > img:nth-child(2) {
    width: 5%;
    position: absolute;
    top: 48%;
    right: 18%;
}
.mouse__right > h2 {
    font-size: var(--font-size120);
    font-weight: 500;
    color: var(--colorW);
    position: absolute;
    top: -4.5%;
}
.mouse__right > p {
    font-weight: 500;
    font-size: var(--font-size16);
    position: absolute;
    top: 6%;
    margin-left: 0.5%;
}
.mouse__right > p span a {
    color: var(--colorW);
    margin-right: 2vh;
}