#phpStart {
    font-family: var(--font-main);
    color: var(--colorB);
    background: var(--colorW);
    width: 100%;
    height: 1080px;
    display: flex;
    position: relative;
}
.phpStart__left {
    width: 60%;
    display: grid;
    place-content: center;
    align-content: space-between;
}
.phpStart__left__top {}
.phpStart__left__top > h2 {
    font-size: var(--font-size100);
    text-decoration-line: line-through;
    text-decoration-thickness: 5px;
    font-weight: 100;
    margin-top: 1vw;
}
.phpStart__left__middle {
    margin-bottom: 6vw;
}
.phpStart__left__middle > h3:first-child {
    font-size: var(--font-size150);
    font-weight: 100;
}
.phpStart__left__middle > h3:last-child {
    font-size: var(--font-size100);
    font-weight: 100;
    position: absolute;
    left: 15.7%;
    bottom: 39%;
}
.phpStart__left__bot {
    margin-bottom: 2.5vw;
}
.phpStart__left__bot > h2 {
    font-size: var(--font-size40);
}
.phpStart__left__bot > p {
    font-family: var(--font-sub);
    font-size: var(--font-size14);
}

.phpStart__right {
    width: 40%;
    border-left: 1px solid var(--colorB);
    height: 40%;
    bottom: 0;
    align-self: end;
}
.phpStart__right > p {
    position: absolute;
    bottom: 0;
    font-family: var(--font-sub);
    font-size: var(--font-size14);
    margin-bottom: 2.5vw;
    margin-left: 2.5vw;
}

#phpView {
    font-family: var(--font-main);
    color: var(--colorW);
    width: 100%;
    background: var(--colorB);
}
.phpStudy__title {
    padding: 8px 50px 23px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--colorW);
    margin-bottom: 2vw;
}
.phpStudy__title > h2 {
    font-weight: 100;
    font-size: var(--font-size80);
}
.phpStudy__title > p {
    font-weight: 100;
    font-family: var(--font-sub);
    font-style: var(--font-size20);
}
.phpStudy__view {
    display: flex;
}
.phpStudy__view__left {
    width: 50%;
}
.phpStudy__view__left ul {
    border-bottom: 1px solid var(--colorW);
    margin-top: 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.phpStudy__view__left ul li {
    font-family: var(--font-sub);
    font-weight: 100;
}
.phpStudy__view__left ul li:last-child {
    width: 40%;
    text-align: right;
}
.phpStudy__view__img {
    margin-top: 2vw;
}
.phpStudy__view__right {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: flex-end;
}
.phpStudy__desc {
    padding: 50px;
}
.phpStudy__desc > h2 {
    font-size: var(--font-size20);
    font-weight: 500;
    margin-bottom: 5px;
}
.phpStudy__desc > p {
    font-family: var(--font-kor);
    font-size: var(--font-size14);
    font-weight: 200;
}
.phpStudy__desc ul li {
    display: inline;
    text-decoration: underline;
}
.phpStudy__desc ul li a {
    color: var(--colorW);
    font-size: var(--font-size16);
    font-weight: 100;
    margin-right: 10px;
}

.phpProject__title {
    background: var(--colorW);
    color: var(--colorB);
    padding: 8px 50px 23px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid var(--colorW);
    border-bottom: 1px solid var(--colorW);
    margin-bottom: 2vw;
}
.phpProject__title > h2 {
    font-weight: 100;
    font-size: var(--font-size80);
}
.phpProject__title > p {
    font-weight: 100;
    font-family: var(--font-sub);
    font-style: var(--font-size20);
}
.phpProject__view {
    display: flex;
}
.phpProject__view__right {
    width: 50%;
}
.phpProject__view__right ul {
    border-bottom: 1px solid var(--colorW);
    margin-top: 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
.phpProject__view__right ul li {
    font-family: var(--font-sub);
    font-weight: 100;
}
.phpProject__view__right ul li:last-child {
    width: 40%;
    text-align: left;
}
.phpProject__view__img {
    margin-top: 2vw;
}
.phpProject__view__left {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: flex-end;
}
.phpProject__desc {
    padding: 50px;
}
.phpProject__desc > h2 {
    font-size: var(--font-size20);
    font-weight: 500;
    margin-bottom: 5px;
}
.phpProject__desc > p {
    font-family: var(--font-kor);
    font-size: var(--font-size14);
    font-weight: 200;
}
.phpProject__desc ul li {
    display: inline;
    text-decoration: underline;
}
.phpProject__desc ul li a {
    color: var(--colorW);
    font-size: var(--font-size16);
    font-weight: 100;
    margin-left: 10px;
}