#quizParallax {
    margin-top: 18vw;
    font-family: var(--font-main);
    position: relative;
}

/* quizParallax__tum */
.quizParallax__tum {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;
}
.quizParallax__tum > div:nth-child(1) {
    font-size: var(--font-size120);
    font-weight: 100;
    color: var(--colorB);
    z-index: 1;
}
.quizParallax__tum > div:nth-child(2) {
    position: absolute;
    right: -10vw;
    bottom: 15vw;
    font-size: var(--font-size100);
    font-weight: 500;
    color: var(--colorB);
    opacity: 0.05;
}

/* quiz */
.quiz {
    margin-top: 20%;
    position: relative;
}
.quiz__img {
    width: 80%;
    position: relative;
}
.quiz__desc {
    text-align: right;
    position: absolute;
    right: 21.2%;
    bottom: -10%;
}
.quiz__desc h2 {
    font-size: var(--font-size60);
    color: var(--colorB);
    font-weight: 500;
}
.quiz__desc ul li {
    font-size: var(--font-size14);
    color: var(--colorB);
    display: inline;
    margin-left: 0.5px;
}

/* parallax */
.parallax {
    margin-top: 18%;
    right: 0;
}
.parallax__img {
    width: 80%;
    margin-left: 20%;
    position: relative;
}
.parallax1 {
    z-index: 5;
}
.parallax2 {
    z-index: 3;
}
.parallax1 {
    z-index: 1;
}
.parallax__desc {
    text-align: right;
    position: absolute;
    right: 6%;
    bottom: -6%;
    mix-blend-mode: difference;
}
.parallax__desc h2 {
    font-size: var(--font-size120);
    color: var(--colorB);
    font-weight: 500;
}
.parallax__desc > p {
    font-size: var(--font-size14);
    font-family: var(--font-kor);
    font-weight: 200;
    line-height: 1.5;
}
.parallax__desc ul li {
    font-size: var(--font-size16);
    font-weight: 100;
    text-decoration: underline;
    color: var(--colorB);
    display: inline;
    margin-left: 0.5%;
}