#responsive {
    font-family: var(--font-main);
    margin-top: 50%;
    position: relative;
}
.responsive {
    display: flex;
    justify-content: flex-end;
}
#responsive > h2 {
    font-size: 40vw;
    font-family: var(--font-main);
    font-weight: 100;
    color: var(--colorW);
    text-shadow: -1px 0 var(--colorB), 0 1px var(--colorB), 1px 0 var(--colorB), 0 -1px var(--colorB);
    opacity: 0.06;
    position: absolute;
    top: -55%;
    left: 20%;
    /* z-index: -1; */
}
.responsive__img {
    z-index: 1;
}
.responsive__img > img {
    width: 100%;
}
.responsive__desc {
    margin-right: 3%;
    z-index: 5;
}
.responsive__desc > h3 {
    font-size: var(--font-size120);
    font-weight: 500;
    color: var(--colorB);
    margin-bottom: 1vw;
}
.responsive__desc > p {
    font-family: var(--font-kor);
    font-size: var(--font-size14);
    font-weight: 200;
    color: var(--colorB);
    text-align: right;
    line-height: 1.5;
}
.responsive__desc > p:last-child {
    font-size: var(--font-size16);
    font-weight: 100;
    font-family: var(--font-main);
    color: var(--colorB);
    text-decoration: underline;
}
.responsive__desc > p:last-child span {
    margin-left: 1vh;
}
.responsive__desc > p:last-child span a {
    color: var(--colorB);
}
.reveal2 {
    visibility: hidden;
    position: relative;
}