#search {
    margin-top: 469px;
}
#search > h2 {
    font-family: var(--font-main);
    color: var(--colorB);
    font-weight: 500;
    font-size: var(--font-size130);
    letter-spacing: 1em;
}
#search ul li {
    font-family: var(--font-sub);
    font-size: var(--font-size14);
    font-weight: 400;
}