#thumbnail {
    font-family: var(--font-main);
    color: var(--colorW);
    width: 100%;
    height: 100vh;
    font-weight: 100;
    position: relative;
}
.artMain {
    position: absolute;
    left: 29%;
    top: 15%;
    z-index: 1;
}
.artCir1 {
     width: 9%;
     position: absolute;
     left: 27%;
     top: 40%
}
.artCir2 {
    width: 12%;
    position: absolute;
    left: 33.5%;
    top: 14%;
}
.artCir3 {
    width: 10%;
    position: absolute;
    top: 46%;
    left: 35.5%;
}
.tum__inner {
}
.portfolio {
    font-size: var(--font-size40);
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    letter-spacing: 0.4em;
    position: absolute;
    top: 13%;
    left: 47.5%;
}
.developer {
    font-size: var(--font-size40);
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    letter-spacing: 0.4em;
    position: absolute;
    top: 31%;
    left: 52.5%;
    border-right: 1px solid var(--colorW);
    padding-right: 2vw;
}
.tum__desc {
    /* font-family: var(--font-sub); */
    font-size: var(--font-size14);
    position: absolute;
    right: 23vw;
    bottom: 6vw;
}
.tum__museum {
    font-size: var(--font-size14);
    position: absolute;
    right: 3vw;
    bottom: 2vw;
}

/* rotate */
.link {
    width: 7rem;
    height: 7rem;
    display: inline-block;
    font-family: var(--font-main);
    word-spacing: 20px;
    font-size: var(--font-size20);
    font-weight: 100;
    letter-spacing: 0.7175em;
    word-spacing: 1em;
    position: fixed;
    right: 2.5vw;
    bottom: 1.5vw;
    z-index: 10;
}
.link__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;
    fill: var(--colorB);
    stroke: var(--colorB);
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.link__cloud {
    transform-origin: 50% 50%;
    -webkit-animation: rotate normal infinite 60s linear;
            animation: rotate normal infinite 60s linear;
    fill: rgba(255, 255, 255, 0.15);
}
.link__face, .link__arrow {
    transform-origin: 50% 50%;
    transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.link:hover .link__face, .link:hover .link__arrow {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.link__arrow {
    stroke-width: 0.075em;
}
.link__text {
  -webkit-animation: rotateReverse normal infinite 20s linear;
            animation: rotateReverse normal infinite 20s linear;
    transform-origin: 50% 50%;
    color: var(--colorW);
}
.link:hover .link__text {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

@-webkit-keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}
@keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}