#thumbnail {
    font-family: var(--font-main);
    color: var(--colorW);
    width: 100%;
    height: 100vh;
    font-weight: 100;
}
#canvas1 {
	position: absolute;
	width: 100%;
	height: 100vh;
    top: 0;
    left: 0;
    filter:url(#goo);
    opacity: 1;
}
#canvas2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
}
.tum__inner {
    height: 100vh;
    padding-bottom: 10vw;
    display: grid;
    place-content: center;
}
.tum__inner__title {
    font-size: var(--font-size120);
    word-spacing: -1.5vw;
}
.tum__inner__title span:nth-child(10) {
    margin-right: 1vw;
}
.tum__inner__desc {
    margin-top: 2vw;
    font-size: var(--font-size14);
}

/* rotate */
.link {
    width: 7rem;
    height: 7rem;
    display: inline-block;
    font-family: var(--font-main);
    word-spacing: 20px;
    font-size: var(--font-size20);
    font-weight: 100;
    letter-spacing: 0.5vw;
    word-spacing: 1.2vw;
    position: fixed;
    right: 2.5vw;
    bottom: 1.5vw;
    z-index: 10;
}
.link__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;
    fill: var(--colorB);
    stroke: var(--colorB);
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.link__cloud {
    transform-origin: 50% 50%;
    -webkit-animation: rotate normal infinite 60s linear;
            animation: rotate normal infinite 60s linear;
    fill: rgba(255, 255, 255, 0.15);
}
.link__face, .link__arrow {
    transform-origin: 50% 50%;
    transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.link:hover .link__face, .link:hover .link__arrow {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.link__arrow {
    stroke-width: 0.075em;
}
.link__text {
  -webkit-animation: rotateReverse normal infinite 20s linear;
            animation: rotateReverse normal infinite 20s linear;
    transform-origin: 50% 50%;
    color: var(--colorW);
}
.link:hover .link__text {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

@-webkit-keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}
@keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}