#webStandard {
    font-family: var(--font-main);
    position: relative;
    margin-top: 900px;
}
#webStandard > h2 {
    font-family: var(--font-main);
    text-shadow: -1px 0 #121212, 0 1px #121212, 1px 0 #121212, 0 -1px #121212;
    color: var(--colorW);
    font-weight: 100;
    font-size: 800px;
    opacity: 0.06;
    position: absolute;
    right: 0;
    bottom: 550px;
    z-index: -1;
}
.webStandard__img > img {
    width: 1737px;
    height: 889px;
    left: 0;
}
.webStandard__desc {
    position: absolute;
    right: 50px;
}
.webStandard__desc > h3 {
    font-size: 120px;
    font-weight: 500;
    color: var(--colorB);
}
.webStandard__desc > p {
    font-size: 14px;
    font-weight: 200;
    font-family: var(--font-kor);
    color: var(--colorB);
    text-align: right;
}
.webStandard__desc > p:last-child {
    font-size: 16px;
    font-weight: 100;
    font-family: var(--font-main);
    color: var(--colorB);
    text-decoration: underline;
}
.webStandard__desc > p:last-child span {
    margin-left: 10px;
}
.webStandard__desc > p:last-child span a {
    color: var(--colorB);
}