#webStandard {
    font-family: var(--font-main);
    position: relative;
    margin-top: 45%;
}
#webStandard > h2 {
    font-family: var(--font-main);
    text-shadow: -1px 0 var(--colorB), 0 1px var(--colorB), 1px 0 var(--colorB), 0 -1px var(--colorB);
    color: var(--colorE);
    font-weight: 100;
    font-size: 40vw;
    opacity: 0.06;
    position: absolute;
    right: 0;
    bottom: 60%;
    /* z-index: -1; */
}
.webStandard__img > img {
    width: 90%;
    left: 0;
    opacity: 1;
}
.webStandard__desc {
    position: absolute;
    right: 4%;
}
.webStandard__desc > h3 {
    font-size: var(--font-size120);
    font-weight: 500;
    color: var(--colorB);
    z-index: 1;
    transition: all 0.5s;
}
.webStandard__desc > p {
    font-size: var(--font-size14);
    font-weight: 200;
    font-family: var(--font-kor);
    color: var(--colorB);
    text-align: right;
    line-height: 1.5;
}
.webStandard__desc > p:last-child {
    font-size: var(--font-size16);
    font-weight: 100;
    font-family: var(--font-main);
    color: var(--colorB);
    text-decoration: underline;
}
.webStandard__desc > p:last-child span {
    margin-left: 1vh;
}
.webStandard__desc > p:last-child span a {
    color: var(--colorB);
}
.reveal {
    visibility: hidden;
    position: relative;
    width: 100%;
}

/* 이미지 호버시 */
.menu__item-image {
    height: 300px;
    width: 240px;
    background-size: cover;
    position: absolute;
    z-index: 2;
    opacity: 0;
    margin-top: -7vw;
    margin-left: 17vw;
    transform: scale(0.3);
}
.menu__item-image.living, .menu__item-image.resting {
    background-image: url("https://images.unsplash.com/photo-1589834390005-5d4fb9bf3d32?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}
.menu__item-image.dining {
    background-image: url("https://images.unsplash.com/photo-1565996939960-f42172c9e2bd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
}
.menu__item-image.endulging {
    background-image: url("https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80");
}
.menu__item-image.floorplans {
    background-image: url("https://images.unsplash.com/photo-1575204015311-0fe377370780?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
}
.menu__item-image.enquiring {
    background-image: url("https://images.unsplash.com/photo-1540759772348-12e90305e8f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}