#header {
    position: fixed;
    font-family: var(--font-sub2);
    margin-top: 1vw;
    margin-left: 2.5vw;
    z-index: 5;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.KDB6 a {
    color: var(--colorW);
    font-size: var(--font-size18);
}
.list__inner {
    margin-left: 5vw;
}
.list__inner ul li { 
    display: inline;
    margin: 1vw;
}
.list__inner ul li a {
    color: var(--colorW);
    font-size: var(--font-size14);
}