#section4 {
    color: var(--colorB);
    margin-top: var(---25vw);
}



/* front__main */
#front__main {
    background: var(--colorB);
    color: var(--colorW);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#front__main > div:nth-child(1) {
    font-size: var(--font-size150);
    line-height: var(--eng-height);
    font-weight: 100;
    margin-left: 5vw;
}
#front__main > div:nth-child(2) {
    font-family: var(--font-sub);
    font-size: var(--font-size14);
    line-height: var(--eng-height);
    white-space: pre-line;
    margin-left: 5vw;
}