#section4 {
    color: var(--colorW);
    background: var(--colorB);
    margin-top: var(---25vw);
}



/* front__main */
#front__main {
    background: var(--colorB);
    color: var(--colorW);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#front__main > div:nth-child(1) {
    font-size: var(--font-size150);
    line-height: var(--eng-height);
    font-weight: 100;
    margin-left: 5vw;
}
#front__main > div:nth-child(2) {
    font-family: var(--font-sub);
    font-size: var(--font-size14);
    line-height: var(--eng-height);
    white-space: pre-line;
    margin-left: 5vw;
}



/* react__list */
#react__list {
    margin-top: var(---25vw);
}

.react__site {
    display: flex;
    flex-direction: column;
    position: relative;
}

.react__site-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5vw;
    margin-left: 2vw;
}
.react__site-title > div:nth-child(1) {
    font-size: var(--font-size100);
    line-height: var(--eng-height);
}
.react__site-view {
    display: flex;
    margin-left: 1vw;
    padding-bottom: 0.3vw;
}
.react__site-view > div a {
    font-size: var(--font-size16);
    line-height: var(--eng-height);
    color: var(--colorW);
    position: relative;
    margin-right: 0.4vw;
}
.react__site-view > div a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--colorW);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.react__site-view > div a:hover::before {
    transform: scaleX(1);
}

.react__site-img {
    width: 80%;
    position: relative;
}
.react__site-img > div:nth-child(2) a img {
    position: absolute;
    top: 1.08vw;
}
 
.react__site > div:nth-child(3) {
    font-size: var(--font-size40);
    font-weight: 100;
    line-height: var(--eng-height);
    transform: rotate(90deg);
    position: absolute;
    top: 44.5vw;
    right: 13vw;
}



/* react__main */
.react__main {
    font-size: var(--font-size100);
    line-height: var(--eng-height);
    text-align: center;
    margin-top: var(---20vw);
}



/* react__api */
.react__api {
    height: 100vh;
    margin-top: 3vw;
    display: flex;
    border-top: 1px solid var(--colorW);
    border-bottom: 1px solid var(--colorW);
}

.react__api-left {
    width: 50%;
    display: grid;
    place-content: center;
    border-right: 1px solid var(--colorW);
}
.react__api-left > div:nth-child(1) {
    font-size: var(--font-size60);
    font-weight: 100;
    line-height: var(--eng-height);
    text-align: center;
}
.react__api-left > div:nth-child(2) {
    font-size: var(--font-size80);
    font-weight: 100;
    line-height: var(--eng-height);
    text-align: center;
    margin-top: 5vw;
    padding-bottom: 3vw;
    border-bottom: 1px solid var(--colorW);
}
.react__api-view {
    display: flex;
    justify-content: center;
    white-space: pre-line;
    font-weight: 100;
    margin-top: 3vw;
}
.react__api-view > div a {
    font-size: var(--font-size40);
    line-height: var(--eng-height);
    color: var(--colorW);
    position: relative;
    margin: 0 1vw;
}
.react__api-view > div a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--colorW);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.react__api-view > div a:hover::before {
    transform: scaleX(1);
}
.react__api-left > div:nth-child(4) {
    font-family: var(--font-kor);
    font-size: var(--font-size16);
    font-weight: 300;
    line-height: var(--kor-height);
    text-align: center;
    white-space: pre-line;
    margin-top: 3.5vw;
}

.react__api-right {
    width: 50%;
}
.react__api-right > a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* react__youtube */
.react__youtube {
    height: 100vh;
    display: flex;
    border-bottom: 1px solid var(--colorW);
}

.react__youtube-left {
    width: 50%;
    border-right: 1px solid var(--colorW);
}
.react__youtube-left > a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.react__youtube-right {
    width: 50%;
    display: grid;
    place-content: center;
}
.react__youtube-right > div:nth-child(1) {
    font-size: var(--font-size60);
    font-weight: 100;
    line-height: var(--eng-height);
    text-align: center;
}
.react__youtube-right > div:nth-child(2) {
    font-size: var(--font-size80);
    font-weight: 100;
    line-height: var(--eng-height);
    text-align: center;
    margin-top: 5vw;
    padding-bottom: 3vw;
    border-bottom: 1px solid var(--colorW);
}
.react__youtube-view {
    display: flex;
    justify-content: center;
    white-space: pre-line;
    font-weight: 100;
    margin-top: 3vw;
}
.react__youtube-view > div a {
    font-size: var(--font-size40);
    line-height: var(--eng-height);
    color: var(--colorW);
    position: relative;
    margin: 0 1vw;
}
.react__youtube-view > div a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--colorW);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.react__youtube-view > div a:hover::before {
    transform: scaleX(1);
}
.react__youtube-right > div:nth-child(4) {
    font-family: var(--font-kor);
    font-size: var(--font-size16);
    font-weight: 300;
    line-height: var(--kor-height);
    text-align: center;
    white-space: pre-line;
    margin-top: 3.5vw;
}



/* vue__main */
/* .vue__main {
    font-size: var(--font-size100);
    line-height: var(--eng-height);
    text-align: center;
    margin-top: var(---20vw);
} */



/* vue__site */
.vue__site {
    display: flex;
    width: 100%;
    height: 100vh;
    /* margin-top: 3vw; */
    border-top: 1px solid var(--colorW);
    border-bottom: 1px solid var(--colorW);
}

.vue__site-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--colorW);
}
.vue__site-left > div:nth-child(1) {
    font-size: var(--font-size20);
    font-weight: 100;
    line-height: var(--eng-height);
    padding-top: 2vw;
    padding-left: 2vw;
}

.vue__site-desc {
    padding-left: 2vw;
    margin-bottom: 2vw;
}
.vue__site-desc > div:nth-child(1) {
    font-size: var(--font-size40);
    line-height: var(--eng-height);
}
.vue__site-desc > div:nth-child(2) {
    font-family: var(--font-kor);
    font-weight: 300;
    font-size: var(--font-size14);
    line-height: var(--kor-height);
    white-space: pre-line;
    margin-top: -0.5vw;
}

.vue__site-view {
    display: flex;
    border-top: 1px solid var(--colorW);
}
.vue__site-view > div:nth-child(1) {
    text-align: center;
    width: 50%;
    padding: 1vw 0;
    border-right: 1px solid var(--colorW);
    transition: all 0.5s;
}
.vue__site-view > div:nth-child(1):hover {
    background: var(--colorW);
}
.vue__site-view > div:nth-child(2) {
    text-align: center;
    width: 50%;
    padding: 1vw 0;
    transition: all 0.5s;
}
.vue__site-view > div:nth-child(2):hover {
    background: var(--colorW);
}
.vue__site-view > div a {
    font-size: var(--font-size24);
    font-weight: 100;
    color: var(--colorW);
    transition: all 0.5s;
}
.vue__site-view > div a:hover {
    color: var(--colorB);
}

.vue__site-right {
    width: 50%;
}
.vue__site-right > a img {
    width: 100%;
    height: 99.8vh;
    object-fit: cover;
}



/* vue__api */
.vue__api {
    display: flex;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid var(--colorW);
}

.vue__api-left {
    width: 50%;
    border-right: 1px solid var(--colorW);
}
.vue__api-left > a img {
    width: 100%;
    height: 99.8vh;
    object-fit: cover;
}

.vue__api-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.vue__api-right > div:nth-child(1) {
    font-size: var(--font-size20);
    font-weight: 100;
    line-height: var(--eng-height);
    padding-top: 2vw;
    padding-right: 2vw;
}

.vue__api-desc {
    padding-right: 2vw;
    margin-bottom: 2vw;
}
.vue__api-desc > div:nth-child(1) {
    font-size: var(--font-size40);
    line-height: var(--eng-height);
}
.vue__api-desc > div:nth-child(2) {
    font-family: var(--font-kor);
    font-weight: 300;
    font-size: var(--font-size14);
    line-height: var(--kor-height);
    white-space: pre-line;
    margin-top: -0.5vw;
}

.vue__api-view {
    display: flex;
    border-top: 1px solid var(--colorW);
    border-bottom: 1px solid var(--colorW);
}
.vue__api-view > div:nth-child(1) {
    text-align: center;
    width: 50%;
    padding: 1vw 0;
    border-right: 1px solid var(--colorW);
    transition: all 0.5s;
}
.vue__api-view > div:nth-child(1):hover {
    background: var(--colorW);
}
.vue__api-view > div:nth-child(2) {
    text-align: center;
    width: 50%;
    padding: 1vw 0;
    transition: all 0.5s;
}
.vue__api-view > div:nth-child(2):hover {
    background: var(--colorW);
}
.vue__api-view > div a {
    font-size: var(--font-size24);
    font-weight: 100;
    color: var(--colorW);
    transition: all 0.5s;
}
.vue__api-view > div a:hover {
    color: var(--colorB);
}