#section1 {}

/* about */
#about {
    color: var(--colorB);
    width: 100%;
    height: 100vh;
}
.about__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about__main {
    display: flex;
    justify-content: flex-end;
}